@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.answer{
  font-size: 5em;
	font-family: 'Dancing Script', cursive;
  color: #fff;
  width:auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: underline;
  text-decoration-style:solid;
  text-decoration-color: rgba(36, 36, 36, .4);
  -webkit-text-decoration-color: rgba(36, 36, 36, .4);
  -moz-text-decoration-color: rgba(36, 36, 36, .4);
	moz-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	-webkit-transition:all .2s ease-in;
	transition:all .2s ease-in;
  cursor: pointer;
}

.answer:hover{
  text-decoration-color: rgba(36, 36, 36, .9);
  -webkit-text-decoration-color: rgba(36, 36, 36, .9);
  -moz-text-decoration-color: rgba(36, 36, 36, .9);
}

html{
  color:#fff;
  background-color: #3b3b3b;
  font-family: 'Roboto', sans-serif;
}

#footnote{
  top:95%;
  height: 5%;
  width:100%;
  text-align: center;
  position: fixed;
  font-size: 1em;
}

.heart {
  fill: red;
	width: 30px;
}

a{
  color:#fff;
}

#button{
  cursor: pointer;
	float: right;
	border: 2px solid #fff;
	padding: 2px;
	color: #fff;
	font-size: 2em;
	background-color: #5e5e5e;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

#button:hover{
	background-color: #fff;
	color: #5e5e5e;
}
