
.answer {
  font-size: 4.75em;
  color: #4e585c;
  width:auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
	transition:all .2s ease-in;
  cursor: pointer;
  font-weight: 400;
}

html {
  color: #4e585c;
  background-color: #fdf6e3;
	font-family: Roboto, Arial, sans-serif;
}

#footnote {
  top:95%;
  height: 5%;
  width:100%;
  text-align: center;
  position: fixed;
  font-size: 1em;
}

.heart {
  fill: #dc322f;
	width: 30px;
}

a {
  color:#6ea84b;
}

.button {
  cursor: pointer;
	float: right;
	border: 2px solid #6ea84b;
	padding: 4px 3px 0px 3px;
	color: #6ea84b;
	font-size: 2em;
	background-color: #fdf6e3;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.button:hover {
	background-color: #6ea84b;
	color: #fdf6e3;
}

#seedBox {
  margin-top: 5;
  top:0;
  height: 5%;
  font-size: 1em;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}